@charset "UTF-8";
@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster-Regular/Lobster-Regular.woff2") format("woff2"), url("../fonts/Lobster-Regular/Lobster-Regular.woff") format("woff"), url("../fonts/Lobster-Regular/Lobster-Regular.ttf") format("ttf");
  /* изменен url до файлов шрифтов */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProText/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProText/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProText/SFProDisplay-Regular.ttf") format("ttf"), url("../fonts/SFProText/SFProDisplay-Regular.eot") format("eot");
  /* изменен url до файлов шрифтов */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProText/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProText/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProText/SFProDisplay-Semibold.ttf") format("ttf"), url("../fonts/SFProText/SFProDisplay-Semibold.eot") format("eot");
  /* изменен url до файлов шрифтов */
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "EudoxusSans";
  src: url("../fonts/EudoxunSans/EudoxusSans-Medium.woff2") format("woff2"), url("../fonts/EudoxunSans/EudoxusSans-Medium.woff") format("woff"), url("../fonts/EudoxunSans/EudoxusSans-Medium.ttf") format("ttf");
  /* изменен url до файлов шрифтов */
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter/Inter-Regular.woff") format("woff"), url("../fonts/Inter/Inter-Regular.ttf") format("ttf"), url("../fonts/Inter/Inter-Regular.eot") format("eot");
  /* изменен url до файлов шрифтов */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter/Inter-Medium.woff") format("woff"), url("../fonts/Inter/Inter-Medium.ttf") format("ttf"), url("../fonts/Inter/Inter-Medium.eot") format("eot");
  /* изменен url до файлов шрифтов */
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter/Inter-SemiBold.ttf") format("ttf"), url("../fonts/Inter/Inter-SemiBold.eot") format("eot");
  /* изменен url до файлов шрифтов */
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter Italic";
  src: url("../fonts/Inter/Inter-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Inter/Inter-SemiBoldItalic.woff") format("woff"), url("../fonts/Inter/Inter-SemiBoldItalic.ttf") format("ttf"), url("../fonts/Inter/Inter-SemiBoldItalic.eot") format("eot");
  /* изменен url до файлов шрифтов */
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter/Inter-Bold.woff") format("woff"), url("../fonts/Inter/Inter-Bold.ttf") format("ttf"), url("../fonts/Inter/Inter-Bold.eot") format("eot");
  /* изменен url до файлов шрифтов */
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-family: "Inter";
  font-size: 16px;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  color: inherit;
}

.heading .heading-left__more, .heading .hot-recipes, .header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.preparation__product, .preparation__time {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 30px;
}

.categories__cards .categories__cards-item--six, .categories__cards .categories__cards-item--five, .categories__cards .categories__cards-item--four, .categories__cards .categories__cards-item--three, .categories__cards .categories__cards-item--two, .categories__cards .categories__cards-item--one {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.04em;
  color: #000000;
}

.subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000000;
}

.description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.6);
}

.preparation {
  display: flex;
  gap: 16px;
}
.preparation__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
}

.preparation__icon {
  width: 24px;
  height: 24px;
}

.button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #ffffff;
  background: #000000;
  border-radius: 16px;
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}
.header .navigation__list {
  display: flex;
  gap: 60px;
}
.header .navigation__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #000000;
}
.header .socials {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header .socials__link {
  display: flex;
  text-align: center;
}
.header .socials__icon {
  width: 22px;
  height: 22px;
}

.heading-container {
  display: flex;
}

.heading {
  margin-top: 40px;
  margin-bottom: 160px;
}
.heading .headinig-left {
  padding: 50px;
  max-width: 620px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #E7FAFE;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.heading .hot-recipes {
  padding: 10px 20px;
  width: 156px;
  height: 45px;
  gap: 13px;
  background: #fff;
  border-radius: 30px;
}
.heading .hot-recipes__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #000000;
}
.heading .heading-left__hot-recipes {
  margin-bottom: 32px;
}
.heading .heading-left__title {
  margin-bottom: 24px;
}
.heading .heading-left__description {
  margin-bottom: 30px;
}
.heading .heading-left__preparation {
  margin-bottom: 99px;
}
.heading .author {
  display: flex;
  align-items: center;
}
.heading .author__avatar {
  display: flex;
  align-items: center;
  padding-right: 16px;
}
.heading .author__info-name {
  margin-bottom: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #000000;
}
.heading .author__info-date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
}
.heading .heading__button {
  padding: 18px 37px;
  display: flex;
  align-items: center;
}
.heading .heading__button::after {
  padding-left: 16px;
  content: url("/img/heading/PlayCircle.svg");
}
.heading .headinig-right {
  max-width: 660px;
  height: 640px;
  width: 100%;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  position: relative;
  background-image: url("/img/heading/chiken-recipes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.heading .heading-right__badge {
  position: absolute;
  top: 50px;
  left: -50px;
}

.categories-wrapper {
  display: flex;
  flex-direction: column;
}
.categories__text {
  margin-bottom: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.categories__text .categories__view {
  padding: 20px 27px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #000000;
  background: #E7FAFE;
  border-radius: 16px;
}
.categories__cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.categories__cards .categories__cards-item {
  padding-bottom: 30px;
  width: 180px;
  height: 152px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.categories__cards .categories__cards-item:hover {
  transform: translateY(-5px);
}
.categories__cards .categories__cards-item--one {
  background-image: url("/img/categories/bg/bg-01.png");
}
.categories__cards .categories__cards-item--two {
  background-image: url("/img/categories/bg/bg-02.png");
}
.categories__cards .categories__cards-item--three {
  background-image: url("/img/categories/bg/bg-03.png");
}
.categories__cards .categories__cards-item--four {
  background-image: url("/img/categories/bg/bg-04.png");
}
.categories__cards .categories__cards-item--five {
  background-image: url("/img/categories/bg/bg-05.png");
}
.categories__cards .categories__cards-item--six {
  background-image: url("/img/categories/bg/bg-06.png");
}
.categories__cards .categories__cards-img {
  position: absolute;
  top: -50px;
}
.categories__cards .categories__cards-img--change {
  width: 120px;
  height: 120px;
  top: -40px;
  left: 45px;
}
.categories__cards .categories__cards-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
}

.categories-margin {
  margin-bottom: 183px;
}

.simple-recipes {
  margin-bottom: 143px;
}
.simple-recipes__title {
  text-align: center;
  margin-bottom: 24px;
}
.simple-recipes__descr {
  text-align: center;
  margin-bottom: 96px;
}
.simple-recipes__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  gap: 40px 40px;
  justify-content: center;
}
.simple-recipes__card {
  padding-top: 16px;
  padding-bottom: 32px;
  width: 400px;
  height: 434px;
  position: relative;
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
  border-radius: 30px;
}
.simple-recipes__img {
  margin: 0 auto 24px;
  width: 368px;
  height: 250px;
}
.simple-recipes__picture {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}
.simple-recipes__card-title {
  margin-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #000000;
}
.simple-recipes__preparation {
  padding-left: 24px;
}

.like {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 36px;
  right: 36px;
  background-color: #fff;
  border-radius: 50%;
}
.like__icon {
  position: absolute;
  left: 12px;
  top: 12px;
}

.preparation__product, .preparation__time {
  background: none;
  padding: 0;
}

.healthy-food {
  display: block;
  overflow: hidden;
}

.healthy-food__img {
  object-fit: cover;
  object-position: center center;
}

/*# sourceMappingURL=style.css.map */
