.heading {
    margin-top: 40px;

    .headinig-left {
        padding: 50px;
        max-width: 620px;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: $color-block;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
    }

    .hot-recipes {
        padding: 10px 20px;
        width: 156px;
        height: 45px;
        @extend %flexis;
        gap: 13px;
        background: #fff;
        border-radius: 30px;

        &__text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: -0.02em;
            color: #000000;
        }
    }
}

