@font-face {
    font-family: 'Lobster';
    src: local('Lobster Regular'), local('Lobster-Regular'),
        url('Lobster-Regular.woff2') format('woff2'),
        url('Lobster-Regular.woff') format('woff'),
        url('Lobster-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }