body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1310px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -0.04em;
    color: $color-title;
}

.description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $color-descpr;
}

.preparation__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: $color-text-time;
}

.preparation__icon {
    width: 24px;
    height: 24px;
}

.button {
    // padding: 21px 37px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: $color-btn;
    background: $bg-btn;
    border-radius: 16px;
}





