%flexis {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

%preperation {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: $bg-preparation;
    border-radius: 30px;
}

%bgi-property {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

