*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-family: 'Inter';
    font-size: 16px;
}
body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    color: inherit;
}