$color-text-nav: #000000;
$color-title: #000000;
$color-subtitle: #000000;
$color-descpr: rgba(0, 0, 0, 0.6);
$color-text-time: rgba(0, 0, 0, 0.6);

$color-block: #E7FAFE;
$color-inbox: #E7F9FD;

$color-btn: #ffffff;
$bg-btn: #000000;

$bg-preparation: rgba(0, 0, 0, 0.05);